# A more sane static final field name, as opposed to the default "log"

lombok.log.fieldName=LOGGER

# "Disable" all Lombok features with exception to val, var, and Log4j2

lombok.accessors.flagUsage = ERROR
lombok.allArgsConstructor.flagUsage = ERROR
lombok.anyConstructor.flagUsage = ERROR
lombok.builder.flagUsage = ERROR
lombok.cleanup.flagUsage = ERROR
lombok.data.flagUsage = ERROR
lombok.delegate.flagUsage = ERROR
lombok.equalsAndHashCode.flagUsage = ERROR
lombok.experimental.flagUsage = ERROR
lombok.extensionMethod.flagUsage = ERROR
lombok.fieldDefaults.flagUsage = ERROR
lombok.getter.flagUsage = ERROR
lombok.getter.lazy.flagUsage = ERROR
lombok.log.apacheCommons.flagUsage = ERROR
lombok.log.flogger.flagUsage = ERROR
lombok.log.javaUtilLogging.flagUsage = ERROR
lombok.log.jbosslog.flagUsage = ERROR
lombok.log.log4j.flagUsage = ERROR
lombok.log.slf4j.flagUsage = ERROR
lombok.log.xslf4j.flagUsage = ERROR
lombok.noArgsConstructor.flagUsage = ERROR
lombok.nonNull.flagUsage = ERROR
lombok.requiredArgsConstructor.flagUsage = ERROR
lombok.setter.flagUsage = ERROR
lombok.sneakyThrows.flagUsage = ERROR
lombok.synchronized.flagUsage = ERROR
lombok.toString.flagUsage = ERROR
lombok.value.flagUsage = ERROR
lombok.wither.flagUsage = ERROR
